<!DOCTYPE html>
<link rel="stylesheet" href="/style.css">
<html>
  <head>
    <title>Note app</title>
  </head>
  <body>

    <header>
      <nav>
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    <main>

        <form action="createNote" method="post">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title"><br>
            
            <label for="content">Content:</label>
            <textarea id="content" name="content"></textarea><br>
            
            <button type="submit">Create</button>
          </form>
    </main>

    <ul>
        <% for (let i = 0; i < listOfNotes.length; i++) {%>
        <li>
            <h2><%= listOfNotes[i].title%></h2>
            <p><% listOfNotes[i].content%></p>
            <a href="/deleteListofNotes/<%= listOfNotes[i].id %>">Delete</a>
        </li>
        <% } %>
    </ul>


    <!-- list a thing of notes "listOfNotes" -->
    <footer>
      <p>Copyright © 2021 My Name</p>
    </footer>
  </body>
</html>